/*----------------------------------------------*\
                    Show
\*----------------------------------------------*/

.show_section {
  height: 100vh;

  .col {
    img {
      width: 30%;
    }

    .card {
      padding: 50px;
    }
  }
}