
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family-serif: "Playfair+Display", serif;


// Colors
$white: #ffffff;
$brown: #A6988D;
$lightbrown: #F2DFCE;
$grey: #f8fafc80;
$purple: #281A24;
$lila: #4e3046;
$lightpurple: #281a246e;
$black: #000000;




