// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Navigation
@import "nav";
//Landingpage
@import "landingpage";
//Login/Register
@import "register";
//Details
@import "details";
//show
@import "show";
//mixit
@import "mixit";
//cart
@import "cart";
//search
@import "search";
//footer
@import "footer";


/*----------------------------------------------*\
                  Generel
\*----------------------------------------------*/
body {
  background-color: $white;
  color: $black;
  font-family: $font-family-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  p {
    font-family: $font-family-sans-serif;
    font-size: 1em;
  }

  a {
    color: $purple;

    &:hover {
      color: $purple;
      text-decoration: none;
    }
  }
  li {
    list-style: none;
  }
}
.alert {
  position: fixed;
  width:100%;
  left:0;
  top:0;
  background-color: rgba(white, .9);
  box-shadow: 2px 2px 35px rgba(black, .2);
  z-index: 101;
  text-align:center;
}



/*----------------------------------------------*\
                    Mediaqueries
\*----------------------------------------------*/
@media screen and (max-width: 850px) {
  .sidebar_cocktails{
    z-index: 100;
  }
  .sidebar {
    left: 0;
    top: 170px;
    width: 200px;
    height: 540px;
    background: $white;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    &.open {
      transform: translateX(0);
    }
    &.close {
      transform: translateX(-200);
    }
    img {
      top: 2%;
    }
  }

  .nav__toggle {
    display: block;
    position: absolute;
    top: 30%;
    left: 3%;
    cursor: pointer;
  }

  .sidebar_cart {
    margin-top: 50px;
    width: 100%;
    border: none;
  }
}


/*----------------------------------------------*\
                    Backend
\*----------------------------------------------*/
.container-fluid {
  height: 110vh;
}
.backend_container {
  padding-top: 100px;
  padding-left: 150px;

  a {
    color: $white;
    &:hover {
      color: $lightbrown;
    }
  }
}

