// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/********************************Generel****************************************/
body {
  background-color: white;
  color: #000000;
  font-family: $font-family-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  p {
    font-family: $font-family-sans-serif;
    font-size: 1em;
  }

  a {
    color: #281A24;

    &:hover {
      color: #281A24;
      text-decoration: none;
    }
  }
}

/********************************Nav****************************************/

nav {
  background: white;
  position: fixed;
  z-index: 999;
  width: 100vw;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);

  img {
    width: 50px;
  }

  a {
    font-size: 1.5em;
    padding-right: 60px;
    color: #281A24;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    //width: 100%;

    &:hover {
      color: #A6988D;
      transform: rotate(5deg) scale(1.1);
    }
    &:hover:before, &:hover:after {
      opacity: 1;
      width: 10px;
    }
    &:before, &:after {
      transition: all 0.3s ease;
      opacity: 1;
      border-top: 1px solid #A6988D;
      content: '';
      display: block;
      position: relative;
      z-index: -1;
      margin: auto;
      width: 0px;
    }

    &:before {
      top: 0px;
      transform: rotate(120deg) translateY(-50%) translateX(-50%);
    }

    &:after {
      top: 5px;
      transform: rotate(-60deg) translateY(-50%) translateX(-50%);
    }
  }

}

/********************************landingpage****************************************/

.background {
  background-image: url("../images/bar.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

}

h2 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 5em;
  top: 350px;
  position: absolute;
  color: white;
}

.info {
  background: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    font-size: 3em;
  }
  img {
    width: 50px;
    padding: 5px;
  }
}

.cocktail_category {
  .row {
    //box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }

    &:nth-child(odd) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 50px;

    }

    &:nth-child(even) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 50px;

    }

    div {

      img {
        width: 40px;
        padding: 5px;
      }
      h3 {
        width: 50%;
        position: relative;

        &:before {
          content: "";
          width: 50%;
          left: 30px;
          position: absolute;
          bottom: 0;
          height: 50%;
          background-color: #F2DFCE;
          z-index: -9;
        }
      }
    }

    img {
      width: 50%;
    }
  }
}

/********************************Login&Register****************************************/
.container_background {
  font-family: $font-family-serif;
  background-image: url("../images/loginbackground.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_table {
  width: 100%;
}

.form_background {
  background: #f8fafc80;
}

.card {
  background: none;
  color: #281A24;
  border: none;
}

.card-header {
  font-size: 30px;
}

.btn-primary {
  background: #281A24;
  border: #281A24;

  &:hover {
    background: white;
    color: #281A24;
  }
}

.btn-link {
  color: #281A24;

  &:hover {
    color: white;
  }
}

nav {
  li {
    list-style: none;
  }
}

/********************************Details****************************************/

.details {

  height: 150vh;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;



  img {
    width: 50px;
    height: 50px;
  }

  ul {
    margin: 70px auto;
    padding-bottom: 50px;
  }

  .page-link{
    color:#281A24;
  }

  .page-item.active .page-link {
    background-color: #281A24;
    border-color:#281A24;
    color: #F2DFCE;
  }

  .thin {
    font-weight: 300;
    color: #281A24;
  }

  a {
    width: 100%;
    font-size: 1em;
    color: #281A24;
    position: relative;
    text-decoration: none;
  }

  .link-1 {
    ul {
      width: 400px;
      margin: 0 auto;
      padding: 0;
      li{
          list-style: none;
      }
    }
  }


  [class^="link-"] {
    display: inline-block;
    margin: 1em;
  }

  /* linkone */
  .link-1 a:before, .link-1 a:after {
    content: '';
    border-bottom: solid 1px #281A24;
    position: absolute;
    bottom: 0;
    width: 0;
  }

  .link-1 a:before {
    left: 0;
  }
  .link-1 a:after {
    right: 0;
  }

  .link-1 a:hover:before, .link-1 a:hover:after {
    width: 50%;
  }

  .link-1 a:before, .link-1 a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

}

/********************************Search****************************************/

.flex-form input[type="submit"] {
  background: #281A24;
  border: 1px solid #281A24;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: #281A24;
    background: #F2DFCE;
    border: 1px solid #F2DFCE;
  }
}

.flex-form {
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);

  > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    margin: 0;
  }
}

input[type="search"] {
  flex-basis: 500px;
}

/********************************Footer****************************************/

.footer {
  background-color: #281A24;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;


  a {
    color: white;
  }
  img {
    width: 20%;
  }

  .footer_logo {
    img {
      width: 50%;
    }
    padding: 30px 0;
  }
}